body{
    background-color: rgb(10, 10, 10);
}
h1{
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 47px;
    text-align: center;
    text-decoration: gold wavy underline;
    color: white;
}
p{
    font-family: "Press Start 2P", "consolas", "monospace";
    font-weight: bold;
    font-size: 14ox;
    color: rgb(189, 22, 147);
}
.noborder{
    font-size: 22px;
    color: rgb(42, 181, 236);
    text-align: center;
}

.bordered{

    border: 5px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}