body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0 100%), url("bg.jpeg");
    background-size: auto;

}
h1{
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 47px;
    text-align: center;
    text-decoration: gold wavy underline;
    color: white;
    line-height: 150%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}
p{
    font-family: "Press Start 2P", "consolas", "monospace";
    font-weight: bold;
    font-size: 14px;
    color: rgb(255, 238, 0);
}
.noborder{
    font-size: 22px;
    color: rgb(89, 208, 255);
    text-align: center;
}

.bordered{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

img{
    opacity: 0.0;
    width: 100%;
}