body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0 100%), url("bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    margin: 0px 10px 10px 10px;

}
h1{
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: gold wavy underline;
    color: whitesmoke;
    line-height: 150%;
}
a{
    margin-right: 100%;
    font-family: "consolas", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}
p{
    font-family: "Press Start 2P", "consolas", "monospace";
    font-weight: bold;
    font-size: 14px;
    color: rgb(255, 238, 0);
}
.noborder{
    font-size: 22px;
    color: rgb(89, 208, 255);
    text-align: center;
}

.bordered{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

#box1{
    border: 5px solid rgb(160, 53, 209);
    width: 250px;
    height: 250px;
    font-family: "consolas", "monospace";
    font-size: 100%;
    font-weight: bolder;
    color: white;
    text-align: justify;
    padding: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
}
#box2{
    background-color: darkorange;
    font-family: "consolas", "monospace";
    font-size: 12px;
    padding: 10px;
    border: 5px solid rgb(53, 209, 188);
    width: 40%;
    height: 250px;
    color: white;
    float: left;
    box-sizing: border-box;
    margin: 5%;
}

.column{
    float: left;
    width: 40%;
    height: 250px;
    box-sizing: border-box;
    font-family: "consolas", "monospace";
    font-size: 12px;
    color: white;
    font-weight: bolder;
    border: 8px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 5%
}

.link{
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 30;
    text-align: center;
    color: whitesmoke;
    line-height: 150%;
}

canvas {
    display: block;
  }